// set up a simulation
initialize() {
    setSeed(SEED);
    
    // initializeTreeSeq();

	initializeMutationRate(1.29e-8);
    initializeRecombinationRate(1.28204e-08);

    // m1 mutation type: exonic neutral (coding: synonymous)
	initializeMutationType("m1", 0.5, "f", 0.0);

    // m2 mutation type: exonic non-neutral (coding: nonsynonymous)
    initializeMutationType("m2", 0.5, "g", MEAN, SHAPE);
	
	// g1 genomic element type: (exons)
    initializeGenomicElementType(1, c(m1, m2), c(0.3, 0.7));
	
	// uniform chromosome of length 500 kb with uniform recombination
	initializeGenomicElement(g1, 0, 499999);
}

// create a population of 10000 individuals
1 early() {
	sim.addSubpop("p1", 10000);
}

// output samples of 10 chromosomes
// the first number (generations) is burnin times N: 10*10,000
100000 late() {
// p1.outputSample(10);
    sim.treeSeqOutput("./output.trees");
}
